{% assign courses = site.data.data.courses %}
{% if courses %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
    </span>
    {{ courses.title }}
  </h2>

  {% if courses.intro %}
  <div class="intro">
    {{ courses.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for course in courses.papers %}
  <div class="item">
    <div class="publication-title">
      {{ course.title }} <span class="publication-conference">({{ course.hours }})</span>
    </div>
    <div class="publication-authors">{{ course.instituition }}</div>
    
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
