{% assign jobs = site.data.data.jobs %}
{% if jobs %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-code fa-stack-1x fa-inverse"></i>
    </span>
    {{ jobs.title }}
  </h2>

  {% if jobs.intro %}
  <div class="intro">
      <p>{{ jobs.intro }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for job in jobs.assignments %}
    <div class="item">

      <span class="project-title">
        <a href="{{ job.link }}" target="_blank">{{ job.title }}</a>
      </span>

      {% if job.tagline %}
      - <span class="project-tagline">{{ job.tagline }}</span>
      {% endif %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
