{% assign talks = site.data.data.talks %}
{% if talks %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-microphone fa-stack-1x fa-inverse"></i>
    </span>
    {{ talks.title }}
  </h2>

  {% if talks.intro %}
  <div class="intro">
    {{ talks.intro | markdownify }}
  </div>
  {% endif %}

  {% for talk in talks.papers %}
  <div class="item">
    <div class="publication-title">{{ talk.title }}</div>
    <div class="publication-authors">{{ talk.where }}</div>
    <div class="publication-conference">{{ talk.year }}</div>
  </div>
  {% endfor %}

</section>
{% endif %}
